
:root {
    --raisin-black: #272727;
    --color-secondary: #e3201b;
    --color-third: #fafafa;
}

body, html {
    background-color: #fafafa;
    margin:0;
    padding:0;
    }
    
    h3 {
      margin-top: 0;
      margin-bottom: 0;
  }

        .h1-hero {
            font-family: 'Capture It';
            font-size: 3rem;
            margin: 0;
            color: #fafafa;    
        }
    
        .p-light {
            font-family:'lato';
            font-size: 1.1em;
            color: #fafafa;
        }
    
        .p-dark {
            font-family:'lato';
            font-size: 1.1em;
            color: #272727;
    
        }
    
        .btn {
        display:block;
        }
    
        .btn-secondary {
            width: 150px; 
            height: 50px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #e3201b;
            font-family: lato;
            border: solid;
            border-color: #e3201b;
            text-align: center;
            color:#fafafa;
          }
    
          .btn-primary {
            width: 150px; 
            height: 50px; 
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #272727;
            font-family: lato;
            border: solid;
            border-color: #272727;
            text-align: center;
            color:#fafafa;
          }

          .btn-form {
            width: 150px; 
            height: 50px; 
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #272727;
            font-family: lato;
            border: solid;
            border-color: #272727;
            text-align: center;
            color:#fafafa;
          }
    
    
    
          .btn-primary, .btn-secondary, .btn-form {
            transition: background-color 0.3s ease, transform 0.3s ease;
          }
    
          .btn-primary:hover {
            background-color: #fafafa; 
            transform: scale(1.2);
            border-color: #fafafa;
            color:#272727;
          }

          .btn-form:hover {
            background-color: #fafafa; 
            transform: scale(1.2);
            border-color: #272727;
            color:#272727;
          }
    
          .btn-secondary:hover {
            background-color: #fafafa; 
            transform: scale(1.2);
            border-color: #fafafa;
            color: #e3201b;
          }

          .horaire {
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: 100vh;
            background-color: #272727;
            gap: 8em;
        
        }
        
        .cards {
            display: flex;
            flex-direction: column;
            width: 15%;
   
            background-color: #750000;
        }
        


        