

:root {
    --background-color: #272727;
    --text-color: #f5f5f5;
    --accent-color: red;
}

body {

    font-family: 'Montserrat', sans-serif;
}

/* FOOTER STYLES */
footer {
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;

}

/* Conteneur du footer */
.footer-container {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    justify-content: center; /* Centers items horizontally */
    text-align: left; /* Ensures text inside is centered */
    margin: 0 auto; /* Centers the whole container */
}

/* Colonne */
.footer-column {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

/* Icônes Réseaux Sociaux */
.social-icons {
    display: flex;
    flex-direction:row;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: auto;
  
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Club name */
.club-name {
    color: var(--accent-color);
    font-weight: bold;
}

/* Club Logo */
.club-logo {
    width: 100px;
    margin-top: 10px;
}

/* Navigation */
.footer-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
    
}

.footer-nav li {
    margin: 10px 0;
    gap:1em;
}

.footer-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.footer-nav a:hover {
    color: var(--accent-color);
}

/* Liens Externes */

.external-links-group{
    display: flex; 
    flex-direction: column;
    text-align: right;
    row-gap: 2; 
}

.external-links-title {
    color: var(--accent-color);
    font-weight: bold;
}

.external-links {

    list-style: none;
    padding: 0;
}

.external-links li {
    margin: 10px 0;
}

.external-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}

.external-links a:hover {
    color: var(--accent-color);
}

/* Pied de page */
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: var(--accent-color);
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}
