.main {
  display:flex;
  flex-direction:row;
  width: 100%;
  min-height:100vh ;

}
  .main {
      background-image: url('/public/assets/img/HOME.png'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
}

.left {
  display:flex;
  flex-direction:column;
  width: 50%;
}

.right {
  display:flex;
  flex-direction:column;
  width: 50%;
  justify-content: center;
  
}

.right-content {
    display:flex;
    flex-direction:column;
    width: 20%;
    justify-content: center;
}


.button-container {
  display: flex; 
  flex-direction: row;
  gap: 2em;
}